@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<h1>Great Success @ViewBag.Username!</h1>
<h3>Your password is: @ViewBag.Password</h3>
</body>
</html>