@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    @using (Html.BeginForm("LoginPost", "Account", FormMethod.Post))
    {
        <div>
            UserName: @Html.TextBox("UserName")
        </div>
        <div>
            UserName: @Html.Password("Password")
        </div>
        <div>
            <input type="submit" value="Login"/>
        </div>
    }
</body>
</html>